body{
	margin: 0px;
	text-align:center;
}

.creat_main{
	width:1200px;
	height:auto;
	overflow:hidden;
	margin:15px auto; 
}

.zhanghu {
	width: 965px;
	height: 1300px;
	float:right;
	background-color: #ffffff;
}
.zhanghu5 {
	margin-top:30px;
	width: 930px;
	margin-left: 15px;
	}
.zhanghu1 {
	width: 100%;
	height: 45px;
	border-bottom: 1px solid #E4E4E4;
	font-family: "풕턼환쥌 Regular", "풕턼환쥌";
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	color:#546d7e;
	line-height: 40px;
	text-indent: 1em;
	text-align:left;
	background-color: #F2F2F2;
}

.xinxi {
	height: 30px;
    width:900px;
	text-indent: 2em;
	font-family: "풕턼환쥌 Bold", "풕턼환쥌";
	font-weight: 700;
	font-style: normal;
	font-size: 16px;
	color: #666;
	text-align:left;
}
.fengexian{
	height: 50px;
    width:870px;
    border-top: 1px solid #E4E4E4;
    margin-left: 30px;
}
.mingcheng {
	height: 60px;
	text-indent: 4.5em;
	text-align:left;
	font-size: 14px;
	color: #666666;
}
#yanzheng {
	height: 10px;
	text-indent: 10em;
	text-align:left;
	font-size: 14px;
}

.mingcheng input {
	width: 700px;
	height: 35px;
	margin-left: 4px;
}

.fenlei {
	height: 60px;
	text-indent: 4.5em;
	text-align:left;
	font-size: 14px;
}

.fenlei select {
	width: 170px;
	height: 35px;
	margin-left: 26px;
}

.jianjie {
	height: 100px;
}

.laoshi1 {
	height: 60px;
	text-indent: 10em;
	text-align: left;
}

.laoshi1 input {
	width: 228px;
	height: 25px;
}

.jianjie input {
	height: 250px;
	width: 570px;
}

.yuyan {
	margin-left: 25px;
}

.kechengtupian0 {
	height: 60px;
	text-indent: 5em;
}

.kechengtupian1 {
	float: left;
	height: 110px;
	text-indent: 4.5em;
	font-size: 14px;
	color: #666666;
}

.ziti {
	font-family: "풕턼환쥌 Regular", "풕턼환쥌";
	font-weight: 400;
	font-style: normal;
	color: #666;
	font-size: 13px;
}

.kechengtupian2 {
	float: left;
	width: 180px;
	height: 110px;
	margin-left: 4px;
}

.kechengtupian3 {
	float: left;
	width: 180px;
	height: 110px;
}
.kechengtupian4 {
	float: left;
	width: 300px;
	height: 110px;
}

#u247_img {
	width: 150px;
	height: 90px;
}

.kechengtupian1 span {
	
}

#u250_img {
	width: 150px;
	height: 90px;
}

.jiaoxuejihua {
	height: 100px;
	text-indent: 5em;
}

.kechengtupian {
	height: 110px;
	text-align: left;
}


.tianjia {
	height: 60px;
	text-indent: 10em;
}

.mubiao {
	height: 60px;
	text-indent: 4.5em;
	text-align:left;
	font-size: 14px;
}

.renqun {
	height: 60px;
	text-indent: 4.5em;
	text-align:left;
	font-size: 14px;
}

.mubiao input {
	width: 570px;
	height: 35px;
	margin-left: 25px;
}

.renqun input {
	width: 570px;
	height: 35px;
	margin-left: 25px;
}

.jiaoxuemubiao {
	height: 30px;
	text-indent: 2em;
	font-family: "풕턼환쥌 Bold", "풕턼환쥌";
	font-weight: 700;
	font-style: normal;
	font-size: 16px;
	color: #666;
	text-align: left;
}

.shijian {
	height: 60px;
	text-indent: 14em;
}

.kechengjiage {
	height: 160px;
	margin-top: -100px;
}

.kechengjiage0 {
	height: 60px;
	text-indent: 5em;
}


.caozuo {
	height: 60px;
}

.caozuo a {
	width: 110px;
	height: 33px;
	cursor: pointer;
	text-align: center;
}

.caozuo1 div {
	width: 110px;
	height: 33px;
	float: left;
}

.caozuo1 {
	margin-left: 400px;
}

.yulan {
	font-family: "풕턼환쥌 Regular", "풕턼환쥌";
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	line-height: 30px;
	color: #FFF;
	background-color: #51a4f6;
	border-radius:3px;
}

#u296_img {
	width: 110px;
	height: 33px;
}

.baocun {
/* 	background: url(../images/c3-1-3createcourse/button_black_u292.png); */
	font-family: "풕턼환쥌 Regular", "풕턼환쥌";
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	color: #FFF;
	line-height: 30px;
	background-color: #ffa800;
	border-radius:3px;
}

.quxiao {
/* 	background: url(../images/c1-5password/button_simple_u84.png); */
	font-family: "풕턼환쥌 Regular", "풕턼환쥌";
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	color: #ffffff;
	line-height: 30px;
	background-color: #42b8f6;
/* 	border-radius:3px; */
}

.chuangkeleixing {
	width:930px;
	height: 60px;
}

.lx {
	height: 60px;
	text-indent: 5em;
	font-family: "풕턼환쥌 Bold", "풕턼환쥌";
	font-weight: 700;
	font-style: normal;
	font-size: 16px;
	color: #666;
	text-align:left;
}
#addimage{
	border-right: 0px;
	float: left;
	text-indent: 1em;
	margin-top: 3px;
}
.lxa {
	width:880px;
	height:40px;
	text-align:left;
	font-size: 16px;
	line-height: 35px;
	border-bottom: 1px solid #E4E4E4;
	margin-left: 30px;
}
#lxa_ge{
		border-right: 0px;
			float: left;
	height:40px;
	width:309px;
	background-color: #f5f8fa;
	cursor: pointer;
	color: #666666;
	font-weight: bold;
}

.a {
	margin-right: 70px;
}

.jj {
	float: left;
text-indent: 4.5em;
font-size: 14px;
color: #666666;
}

.jj1 {
	float: left;
	margin-left: 4px;
}

.kj {
	height: 50px;
	text-indent: 10em;
	text-align:left;
	font-size: 14px;
	color: #666666;
}
.kj0 {
	height: 40px;
	text-indent: 4.5em;
	text-align:left;
	font-size: 14px;
	color: #666666;
}
.kj1 {
	height: 50px;
	text-indent: 10em;
	color: #666666;
}
.kj input {
	width: 635px;
	height: 35px;
}

.ks {
	height: 50px;
	text-indent: 10em;
	text-align:left;
	font-size: 14px;
}
.ks a{
	font-family: "풕턼환쥌 Regular","풕턼환쥌";
font-weight: 400;
font-style: normal;
font-size: 14px;
color: #fffff;
cursor: pointer;
margin-left: 10px;
}
.ks1 {
	height: 60px;
	text-indent: 19em;
	text-align:left;
}
.ks1 a{
	font-family: "풕턼환쥌 Regular","풕턼환쥌";
font-weight: 400;
font-style: normal;
font-size: 13px;
color: #ffb867;
cursor: pointer;
}
.xuesheng {
	height: 150px;
	text-indent: 5em;
	text-align:left;
}

.xuesheng2 {
	text-indent: 4.5em;
	height: 60px;
	font-size: 14px;
}

.xuesheng1 {
	height: 30px;
	font-family: "풕턼환쥌 Bold", "풕턼환쥌";
	font-weight: 700;
	font-style: normal;
	font-size: 16px;
	color: #666;
	text-indent: 2em;
}

/* .xuesheng2 a { */
/* 	font-family: "풕턼환쥌 Regular", "풕턼환쥌"; */
/* 	font-weight: 400; */
/* 	font-style: normal; */
/* 	color: #39F; */
/* 	cursor: pointer; */
/* 	font-size: 13px; */
/* } */
.classArrangement{
	width: 640px;
	height: 35px;
}
.xuesheng2 span {
	font-family: "풕턼환쥌 Regular", "풕턼환쥌";
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	color: #F90;
}

.xzls {
	font-family: "풕턼환쥌 Regular", "풕턼환쥌";
	font-weight: 400;
	font-style: normal;
	color: #39F;
	font-size: 13px;
	cursor: pointer;
	background-color: #b9dbfd;
	border-radius:3px;
}

#dialog_link {
	padding: .4em 1em .4em 20px;
	text-decoration: none;
	position: relative;
}
#dialog_link1 {
	padding: .4em 1em .4em 20px;
	text-decoration: none;
	position: relative;
}

#dialog_link span.ui-icon {
	margin: 0 5px 0 0;
	position: absolute;
	left: .2em;
	top: 50%;
	margin-top: -8px;
}

.d1 {
	width: 465px;
	height: 530px;
}

.teacher_1 {
	height: 60px;
}
.teacher_1 select{
	width:153px;
}
.teacher_1 li {
	width: 50%;
	float: left;
	height: 100%;
	text-align: center;
	line-height: 50px;
	font-family: "풕턼환쥌 Bold", "풕턼환쥌";
	font-weight: 700;
	font-style: normal;
	font-size: 14px;
	color: #333;
}

.teacher_2 li {
	width: 50%;
	float: left;
	height: 100%;
	text-align: center;
	line-height: 50px;
	font-family: "풕턼환쥌 Bold", "풕턼환쥌";
	font-weight: 700;
	font-style: normal;
	font-size: 14px;
	color: #333;
}

li {
	list-style-type: none;
}

.teacher_2 {
	height: 50px;
}

.t3_creatCourse a div {
	width: 80px;
	height: 25px;
	text-align: center;
	margin-left: 380px;
	margin-top: 10px;
	font-family: "풕턼환쥌 Regular", "풕턼환쥌";
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	line-height: 25px;
	margin-right: 16px;
	float: right;
	color: #FFF;
	background-color: #51a4f6;
	border-radius:3px;
}

.t3_creatCourse {
	height: 50px;
}


.t4 {
	height: 262px;
	overflow:auto;
}

.tab {
	width: 448px;
	height: 260px;
}

.td1 {
	height: 30px;
	background-color: #F2F2F2;
	font-family: "풕턼환쥌 Bold", "풕턼환쥌";
	font-weight: 700;
	font-style: normal;
	font-size: 13px;
	color: #333;
	text-align: center;
}

.td2 {
	font-family: "풕턼환쥌 Regular", "풕턼환쥌";
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	color: #333;
	text-align: center;
	border-bottom: 1px solid #CCCCCC;
}

td {
	border-bottom: 1px solid #CCCCCC;
}
.td1 {
	height: 30px;
	background-color: #F2F2F2;
	font-family: "풕턼환쥌 Bold", "풕턼환쥌";
	font-weight: 700;
	font-style: normal;
	font-size: 13px;
	color: #333;
	text-align: center;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid #CCCCCC;
}

.t5 {
	height: 70px;
	font-family: "풕턼환쥌 Regular", "풕턼환쥌";
	font-weight: 400;
	font-style: normal;
	color: #F00;
	font-size: 13px;
}

.t6 {
	height: 40px;
}

.t6 div {
	float: right;
	height: 33px;
	width: 110px;
	text-align: center;
	line-height: 30px;
}

.qd {
	margin-right: 20px;
	cursor: pointer;
		background-color: #ffa800;
	border-radius:3px;
	color: #FFF;
}

.qx {
background-color: #b9dbfd;
	border-radius:3px;
	color: #61abf7;
}
.dxs {
	width: 719px;
	height: 690px;
}
.ts1 {
	height: 50px;
}

.ts1 li {
	width: 33%;
	float: left;
	height: 100%;
	text-align: center;
	line-height: 50px;
	font-family: "풕턼환쥌 Bold", "풕턼환쥌";
	font-weight: 700;
	font-style: normal;
	font-size: 14px;
	color: #333;
}
.ts1 select{
	width: 150px;
	height: 25px;
}
.ts2 li {
	width: 33%;
	float: left;
	height: 100%;
	text-align: center;
	line-height: 50px;
	font-family: "풕턼환쥌 Bold", "풕턼환쥌";
	font-weight: 700;
	font-style: normal;
	font-size: 14px;
	color: #333;
}
.ts2 {
	height: 50px;
}
.ts2 a div {
	width: 80px;
	height: 25px;
	text-align: center;
	margin-left: 380px;
	margin-top: 10px;
	font-family: "풕턼환쥌 Regular", "풕턼환쥌";
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	line-height: 25px;
	margin-right: 80px;
	float: right;
	color: #FFF;
	background-color: #51a4f6;
	border-radius:3px;
}
.tabs {
	width: 650px;
	height: 330px;
}
.ts4 {
	height: 330px;
	margin-left:30px;
	width: 100%;
	overflow:auto;
}
.ts5 {
	height: 70px;
	font-family: "풕턼환쥌 Regular", "풕턼환쥌";
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	text-indent: 2em;
	line-height: 30px;
}
.ts5 span{
	float: right;
	margin-right: 40px;
}
.ts6 {
	height: 40px;
}

.ts6 div {
	float: right;
	height: 33px;
	width: 110px;
	text-align: center;
	line-height: 30px;
	margin-right: 40px;
}
.jiage{
	height:120px;
	text-align:left;
}
.jiage2 {
	height: 50px;
/* 	text-indent: 4.5em; */
	font-size: 14px;
	color: #666666;
}
.jiage2 input{
	height: 35px;
	width: 120px;
	margin-left: 10px;
	margin-right: 10px;
}
#minStudents{
	height: 35px;
	width: 120px;
	margin-left: 10px;
	margin-right: 10px;
}
#maxStudents{
	height: 35px;
	width: 120px;
	margin-left: 10px;
	margin-right: 10px;
}
.jg1{
	float: left;
	text-align: right;
	margin-left: 65px;
}
.jg3{
	float: left;
	text-align: right;
	margin-top: 8px;
	margin-left: 10px;
}
.jg4{
	height: 35px;
	width: 540px;
	float: left;
	background-color: #d9f1fd;
	margin-left: 10px;
}
.jg2{
	float: left;
	margin-top: 8px;
	margin-left: 2px;
}
.jg2 li{
	text-align: left;
	font-family: "풕턼환쥌 Regular","풕턼환쥌";
font-weight: 400;
font-style: normal;
font-size: 16px;
color: #ff0000;
}
.jiage1{
	text-indent: 2em;
	height: 30px;
	font-family: "풕턼환쥌 Bold", "풕턼환쥌";
	font-weight: 700;
	font-style: normal;
	font-size: 16px;
	color: #666;
}
.jiage3{
	height:150px;
}
.jiage4{
	text-indent: 50em;
	font-family: "풕턼환쥌 Regular","풕턼환쥌";
font-weight: 400;
font-style: normal;
color: #F00;
font-size: 13px;
}
.yanzheng{
	color: red;
	font-size: 13px;
}
.jihua{
	height: 200px;
	text-align:left;
}
#startb{
	width:243px;
	
}
#endb{
	width:243px;
	
}
.queryTeacher{
	cursor: pointer;
	color: #FFF;
	background-color: #51a4f6;
	border-radius:3px;
}
tr{
	height:33px;
}
.queryStudent{
	cursor: pointer;
}
.xkj{
	text-align: left;
	font-size: 14px;
}
.del_a{
	float: left;
	margin-left: 10px;
	margin-top:-1px;
	width:113px;
	height: 38px;
	text-indent: 0em;
	background-color: #42b8f6;
}
.del_a2{
	float: left;
	margin-left: 10px;
	margin-top:-1px;
	width:113px;
	height: 38px;
	text-indent: 0em;
	background-color: #61dc72;
}
.del_a2 div{
	float: left;
}
.del_a21 {
	margin-top: 12px;
}
.del_a22 {
	
}
.del_a1{
	float: left;
	color: #666666;
}
.ks input{
	width:115px;
	height: 35px;
	margin-right: 9px;
}
.del_a a{
	color: #f5f8fa;
	line-height: 40px;
}
.del_a2 a{
	color: #f5f8fa;
	line-height: 40px;
}
#tishi{
	font-size: 22px;
}
.container{
	width: 600px;
	height:450px;
	float: left;
	margin-left: 50px;
	margin-right: 50px;
}
.preview{
	float: left;
	width: 235px;
	height:150px;
	overflow: hidden;
}
.xztx1{
	height:500px;
}
.xztx2{
	height:50px;
}
.baocun{
	width: 110px;
height: 33px;
float: left;
margin-left: 80px;
font-family: "풕턼환쥌 Regular", "풕턼환쥌";
font-weight: 400;
font-style: normal;
font-size: 14px;
color: #ffffff;
line-height: 30px;
background-color: #ffa800;
border-radius: 3px;
cursor: pointer;
}
.hide {
    display: none!important;
}
#dd{
	margin-left: 10px;
}
.kjaaa{
	margin-left: 10px;
}
#courseDescription{
	width: 700px;
	height:80px;
}