@CHARSET "UTF-8";

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
    font-family: '微软雅黑','Microsoft YaHei';
    font-size: 12px;
}

fieldset,
img {
    border: 0;
}

ol,
ul,
li {
    list-style: none;
}

body{
	text-align:center;
}

/************main********************/
#client_main{
	width:1237px;
	height:629px;
	margin:0 auto;
	border:0px solid red;
	margin-top:22px;
}

#client_left{
	width:350px;
	height:100%;
	float:left;
}

.bannerWrap{
	width:350px;
	height:200px;
	float:left;
	position:static;
}

.bannerWrap img{
	width:350px;
	height:200px;
}

#client_beginCourse{
	width:100%;
	height:402px;
	float:left;
	margin-top:25px;
	overflow-y:auto;
}

#client_beginCourse::-webkit-scrollbar  
{  
    width: 13px;  
    background-color: #f5f5f5;  
}  

#client_beginCourse::-webkit-scrollbar-track  
{  
    border-radius: 5px;  
    background-color: #fff;  
}  

#client_beginCourse::-webkit-scrollbar-thumb  
{  
    border-radius: 5px;  
    background-color: #bfbfbf;  
} 

#client_beginCourse::-webkit-scrollbar-thumb:hover {
	background: #d2d2d2;
}

#client_beginCourse::-webkit-scrollbar-thumb:active {
	background: #acacac;
}

.right_head{
	width:254px;
	height:21px;
	float:right;
}

#right_clock{
	width:21px;
	height:21px;
	position:relative;
	left: -11px;
}

#right_title{
	width:100px;
	height:15px;
	position:relative;
	top:-20px;
	left:20px;
	color:#000;
	font-size:15px;
	font-weight:500;
	text-align:left;
}

.right_course{
	width:254px;
	height:auto;
	min-height:380px;
	float:right;
	border-left:1px solid #dcdcdc;
}

.right_course_main{
	width:100%;
	height:48px;
	float:left;
	margin-top:25px;
}

.course_bg{
	width:80px;
	height:48px;
	margin-left:8px;
	float:left;
	cursor:pointer;
}

.clock_dot{
	width:7px;
	height:7px;
	position:relative;
	top: -65px;
    left: -4px;
}

.course_bg img{
	width:80px;
	height:48px;
	display: flex;
}

.arrow-right {
    width:0; 
    height:0; 
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #42b8f6;
    position:relative;
    top:-50px;
    left:-13px;	
}

.course_begin_time{
	width:72px;
	height:22px;
	color:#fff;
	background:#42b8f6;
	position:relative;
	top:-33px;
	left:-84px;
	line-height: 11px;
}

.right_course_name{
	width:144px;
	height:37px;
	margin:5px 0 0 96px;
	word-break:break-all;
	text-align:left;
	cursor:pointer;
}

#client_right{
	width:865px;
	height:100%;
	float:right;
}

#client_right_head{
	width:100%;
	height:43px;
	float:left;
	border-bottom:1px solid #e3e3e3;
}

#headTitle{
	height:25px;
	line-height:25px;
	float:left;
	font-size:16px;
	color:#000;
	font-weight:600;
	text-align:left;
}

#search_input{
	width:453px;
	height:21px;
	float:right;
	border:2px solid #42b8f6;
}

#search_blank{
	float:left;
    font-size: 12px;
    border:0;
}

#search_select{
	width:65px;
	height:21px;
	float:left;
	border-right:1px solid #dcdcdc;
}

#select_word{
	width:47px;
	height:21px;
	float:left;
	line-height:21px;
	color:#5a5a5a;
	font-size:14px;
}

#change_select{
	width:8px;
	height:5px;
	float:left;
	/* margin-top:8px; */
}

#change_select img{
	width:8px;
	height:5px;
	display: flex;
}

#keyword_input{
	width:328px;
	height:100%;
	float:left;
}

#keyword_input input{
	width:328px;
	text-indent: 5px;
	height:21px;
	line-height:21px;
	outline: none;
}

#keyword_input input:focus{
	border:0;
}

#search_btn{
	width:59px;
	height:21px;
	float:left;
	background:#42b8f6;
}

#search_btn img{
	width:16px;
	height:16px;
	margin-top:3px;
	margin-left:4px;
	cursor:pointer;
}

#client_courses_list{
	width:100%;
	height:514px;
	float:left;
}

.course_infor{
	width:200px;
	height:238px;
	float:left;
	margin-top: 17px;
    margin-right: 21px;
    background:#eff3f3;
}

.course_img{
	width:100%;
	height:120px;
}

.course_img img{
	width:200px;
	height:120px;
}

.course_price{
	width:100%;
	height:28px;
	position:relative;
	background:#434343;
	color:#fcde26;
	font-size:18px;
	line-height:28px;
	font-weight:600;
	z-index: 999;
	text-align: left;
    text-indent: 20px;
}

.information_course{
	width:100%;
	height:90px;
	overflow:hidden;
}

.course_name{
	width: 160px;
    /* height: 40px; */
    float: left;
    margin: 13px 0 0 20px;
    text-align: left;
    font-size: 14px;
    cursor:pointer;
}

.begin_time{
	width:100%;
	height:25px;
	line-height:25px;
	float:left;
	text-indent: 20px;
	text-align:left;
	color:#808080;
	margin-top: 2px;
}

.course_teacher{
	width:100%;
	float:left;
	text-indent: 20px;
	text-align:left;
	color:#808080;
}

.zhibo_course{
	width:36px;
	height:20px;
	background:#f26666;
	position:relative;
	color:#fff;
	font-size:14px;
	line-height:20px;
	top:-238px;
}

.lubo_course{
	width:36px;
	height:20px;
	background:#42b8f6;
	position:relative;
	color:#fff;
	font-size:14px;
	line-height:20px;
	top:-238px;
}

.course_baoming{
	width: 92px;
    height: 92px;
    margin-top: 16px;
    background: url(../../images/index/baoming.png) no-repeat;
    margin-left: 54px;
    line-height: 92px;
    color: #fff;
    font-size: 24px;
    cursor:pointer;
}

#coursesPage{
	margin-top: 20px;
    height: 30px;
    float: left;
    width: 100%;
}
/************end********************/

div.badoo a {
    border: #e5e5e5 1px solid;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    color: #3d3d3d;
    padding-top: 15px;
    text-decoration: none;
    margin:0;
}

div.badoo a:FIRST-CHILD{
	margin-right:10px;
}

div.badoo a:last-of-type{
	margin-left:10px;
}

div.badoo span.current {
    border: #42b8f6 1px solid;
    padding-right: 15px;
    padding-left: 15px;
    font-weight: bold;
    padding-bottom: 15px;
    color: #fff;
    padding-top: 15px;
    background-color: #42b8f6;
}

div.badoo{
	color:#3d3d3d;
}

div.badoo input{
	text-align:center;
}

div.badoo a:hover{
	border: #e5e5e5 1px solid;
	color:#3d3d3d;
}