.liebiao{
width: 990px;
height: 1600px;
margin-left: 450px;
top: 200px;
border: 1px solid #E4E4E4;
background-color: #F2F2F2;
}
.yejiao{

	
	
}
.title{
	height:45px;
	background-color: #F2F2F2;
	border: 1px solid #E4E4E4;
}
.tt{
	height:260px;
	background-color: #F2F2F2;

}
.tt1{
	font-family: "微软雅黑 Regular","微软雅黑";
font-weight: 400;
font-style: normal;
font-size: 15px;
color: #333;
}
.tt1 li{
	float:left;
	margin-left: 35px;
	height:50px;
	line-height: 50px;
	
}
.tt1 li input{
	height: 22px;
	width: 134px;
}
.tt1 {
	height: 50px;
}
.title1{
	float:left;
	width:50%;
	text-indent:2em;
	height:45px;
	line-height:40px;
}
.title1 a{
	cursor: pointer;
	font-family: "微软雅黑 Regular","微软雅黑";
font-weight: 400;
font-style: normal;
font-size: 18px;
}

.title2{
	float:right;
	width:50%;
	text-indent:25em;
	height:45px;
	line-height:40px;
}
.biaoge{
	width:970px;
	border: 1px solid #E4E4E4;
	height:30px;
	margin-left:10px;
	font-family: "微软雅黑 Regular","微软雅黑";
font-weight: 400;
font-style: normal;
text-align: center;
font-size: 13px;
color: #333;
	
}
.biaoge div{
	float:left;
}
.jibenxinxi{
	width:248px;
	height:30px;
	border-right: 1px solid #E4E4E4;
}
.chuangkeren{
	width:118px;
	height:30px;
	border-right: 1px solid #E4E4E4;
}
.jiage{
	width:98px;
	height:30px;
	border-right: 1px solid #E4E4E4;
}
.renshu{
	width:138px;
	height:30px;
	border-right: 1px solid #E4E4E4;
}
.zhuangtai{
	width:128px;
	height:30px;
	border-right: 1px solid #E4E4E4;
}
.jindu{
	width:118px;
	height:30px;
	border-right: 1px solid #E4E4E4;
}
.shenhe{
	width:118px;
	height:30px;
	border-right: 1px solid #E4E4E4;
}
.caozuo{
	width:118px;
	height:30px;
}
.liebiao1{
	width:970px;
	height:177px;
	border: 1px solid #E4E4E4;
	margin-left: 10px;
	
}
.liebiao1 div{
	float:left;
}
.jibenxinxi1{
	width:250px;
	height:177px;
}
.jiage1{
	width:100px;
	height:177px;
	font-family: "微软雅黑 Regular","微软雅黑";
font-weight: 400;
font-style: normal;
font-size: 13px;
text-align: center;
color: #333;
line-height: 160px;
}
.chuangkeren1{
	width:120px;
	height:177px;
	font-family: "微软雅黑 Regular","微软雅黑";
font-weight: 400;
font-style: normal;
font-size: 13px;
text-align: center;
color: #333;
line-height: 160px;
}
.renshu1{
	width:140px;
	height:177px;
	line-height:160px;
	font-family: "微软雅黑 Regular","微软雅黑";
font-weight: 400;
font-style: normal;
font-size: 13px;
text-align: center;
color: #333;
}
.zhuangtai1{
	width:130px;
	height:177px;
	line-height:120px;
	font-family: "微软雅黑 Regular","微软雅黑";
font-weight: 400;
font-style: normal;
font-size: 13px;
text-align: center;
color: #333;
line-height: 160px;
}

.caozuo1{
	width:120px;
	height:177px;
	font-family: "微软雅黑 Regular","微软雅黑";
font-weight: 400;
font-style: normal;
font-size: 13px;
color: #39F;
text-align: center;
cursor: pointer;
}
#img{
	float:left;
	width:130px;
	height:128px;
}
.i1{
	height:30px;
	font-family: "微软雅黑 Regular","微软雅黑";
font-weight: 400;
font-style: normal;
font-size: 13px;
color: #333;
	
}
.time{
	height:38px;
}
.img11{
	float:left;
	height:90px;
	text-indent: 20px;
	
}
.i3{
	font-family: "微软雅黑 Regular","微软雅黑";
font-weight: 400;
font-style: normal;
font-size: 13px;
color: #999;
}
#u202_img{
	width:79px;
	height:53px;
	
}
li{
	list-style-type: none;
}
.jiage1 li{
	height:50%;
}
.jg2{
	font-family: "微软雅黑 Regular","微软雅黑";
font-weight: 400;
font-style: normal;
font-size: 13px;
color: #999;
text-align: center;
}
.yibo{
	color: #F60;
	font-family: "微软雅黑 Regular","微软雅黑";
font-weight: 400;
font-style: normal;
font-size: 13px;
text-align: center;
}
.yishang{
	font-family: "微软雅黑 Regular","微软雅黑";
font-weight: 400;
font-style: normal;
font-size: 13px;
text-align: center;
color: #4CB164;
}
.chax{
	background: url(../../images/c3-1-2courseteacher/button_green_u326.png);
	margin-top: 10px;
	font-family: "微软雅黑 Regular","微软雅黑";
font-weight: 400;
font-style: normal;
font-size: 14px;
color: #FFF;
}
.tt2 div{
	float: left;
}
.lx{
	text-indent: 2.2em;
	font-family: "微软雅黑 Regular","微软雅黑";
font-weight: 400;
font-style: normal;
font-size: 15px;
color: #333;
}
.lxa span{
	font-family: "微软雅黑 Regular","微软雅黑";
font-weight: 400;
font-style: normal;
font-size: 13px;
color: #333;
}
.a {
	margin-right: 15px;
}
.title a{
	margin-right: 50px;
}
.jg1{
	font-family: "微软雅黑 Regular","微软雅黑";
font-weight: 400;
font-style: normal;
font-size: 13px;
text-align: center;
color: #333;
}
.caozuo2{
	margin-top: 60px;
	margin-left:30px;
}
.tuike{
	height:30px;
	width:72px;
	background: url(../../images/button_simple_u467.png);
	line-height: 30px;
}
.qx{
	margin-left: 30px;
}
.tj1{
	font-family: "微软雅黑 Regular","微软雅黑";
font-weight: 400;
font-style: normal;
text-align: right;
font-size: 15px;
color: #333;
margin-right: 30px;
}
.tj1 span{
	font-size: 18px;
color: #F00;
font-family: "微软雅黑 Regular","微软雅黑";
font-weight: 400;
font-style: normal;
text-align: right;
}
.tj2{
	font-family: "微软雅黑 Regular","微软雅黑";
font-weight: 400;
font-style: normal;
text-align: right;
margin-right: 30px;
}
.s1{
	font-size: 18px;
color: #F60;
font-family: "微软雅黑 Regular","微软雅黑";
font-weight: 400;
font-style: normal;
text-align: right;
}
.s2{
	font-family: "微软雅黑 Regular","微软雅黑";
font-weight: 400;
font-style: normal;
font-size: 36px;
color: #F60;
}
.ttt{
	height: 210px;
}
.summary{
	width: 510px;
	height: 180px;
	background-color: #FFFFFF;
	margin-left: 100px;
	margin-top: 30px;
}